
body {
    background: #ffffff !important;
    color: #bfbfbf !important;
    padding-top: 60px !important;
    min-height: 100% !important;
}
footer {
    //background: #000000;
}
.evenement-container {
    overflow-y: auto;
}
.btn-turquoise {
    background: #1abc9c !important;
    color: #ecf0f1;
}
.btn-turquoise:hover {
    background: #000000 !important;
    color: #ffffff;
}
.evenement {
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin: 5px;
    width: 90%;
}
.navbar-brand {
    color: #ecf0f1 !important;
    font-size: 25px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ecf0f1 !important;
}
input {
    background: #ecf0f1 !important;
    border: none !important;
    height: 30px;
}
input[type=submit] {
    background: #1abc9c !important;
    color: #ffffff;
}
.navbar-inverse {
    background-color: #1abc9c;
    border-bottom: 1px solid #95a5a6;
    box-shadow: 0px -2px 9px 0px #000;
    //height: 118px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: 51px auto;
    background-position: 90px center;
}
.index-bg {
    height: 500px;
    background: url('../img/bg_content.jpg') no-repeat center center;
}
.redColor {
    color: red;
    font-weight: bold;
}
.produit {
    border: 1px solid rgba(0, 0, 0, 0.15);
    height: 300px;
    margin: 10px;
    background: url('../img/playstation41.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    padding: 0px !important;
}
.produit-text {
    position: absolute;
    bottom: 0px;
    background: rgba(255,255,255,0.9);
    width: 101%;
    left: -1px;
    color: #474747;
}